p {
	line-height: 30px;
	font-size: 18px;
	text-align: justify;
}

.jumbotron {
	background-color: white;
	padding: 1%;
	padding-left: 1%;
	padding-top: 3%;
	height: 300px;
	color:white;
}

/* Progressbar Start*/

/* Progress Bar */
.progress {
	position: fixed;
	height: 1px;
	display: block;
	width: 100%;
	background-color: grey;
	border-radius: 2px;
	background-clip: padding-box;
	padding-top: 66px;
	z-index: 2;
	/*   margin: 0.1rem 0 1rem 0; */
	margin: 0;
	overflow: hidden;
}

.progress .determinate {
	position: absolute;
	background-color: inherit;
	top: 0;
	bottom: 0;
	background-color: #26a69a;
	transition: width .3s linear;
}

.progress .indeterminate {
	background-color: white;
}

.progress .indeterminate:before {
	content: '';
	position: absolute;
	background-color: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	will-change: left, right;
	-webkit-animation: indeterminate 2.1s
		cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
	animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
		infinite;
}

.progress .indeterminate:after {
	content: '';
	position: absolute;
	background-color: inherit;
	top: 0;
	left: 0;
	bottom: 0;
	will-change: left, right;
	-webkit-animation: indeterminate-short 2.1s
		cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
	animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
		infinite;
	-webkit-animation-delay: 1.15s;
	animation-delay: 1.15s;
}

.breadcrumb>li+li:before {
	color: #CCCCCC;
	content: "/ ";
	padding: 0 5px;
}

.hidden {
	display: none;
}

.pgContainer {
	/* 	border: 1px; */
	/* 	border-color: black; */
	/* 	border-style: solid; */
	/* 	border-radius: 4px 4px 4px 4px; */
	
}

.pgHeader {
	background-color: #2196f3;
	padding: 2%;
	color: white;
	font-size: 20px;
}

.pgInsertTab {
	padding: 2%;
	color: white;
	font-size: 20px;
}

}
.pgHeader-title {
	font-weight: bold;
	text-transform: uppercase;
	font-family: inherit;
	font-weight: 400;
	line-height: 1.1;
}

.pgHeader-content {
	font-family: inherit;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.1;
}

.sideNav {
	z-index: 510;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	background: white;
	display: none;
	padding: 0;
	width: 70%;
	overflow: scroll;
}

.sideNavTitle {
	padding: 1%;
	font-size: 30px;
	font-weight: 10;
	font-size: 30px;
}

.sideNavCloseBtn {
	padding: 1%;
	font-size: 30px;
	font-weight: 10;
}

.mask {
	z-index: 500;
	position: fixed;
	opacity: 0.5;
	display: none;
	/* removes the element completely from the document, it doesn't take up any space. */
	/* visibility: hidden; -- hides the element, but it still takes up space in the layout. */
	background: transparent;
	background-color: #ccc;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
}

.newline {
	padding-bottom: 3%;
}

.topNav {background-grey;
	display: none;
	height: 50%;
	padding: 2%;
}

#insertTab {
	color: black;
}

.list-group-item {
	/* 	height: 150px; */
	
}

.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

body {
	/* 	background-color: #f0f0f0; */
	background-color: #FAFAFA;
}

#tableView {
	display: none;
}

html,body {
	height: 100%; /* IMPORTANT!!! stretches viewport to 100% */
}

#topNavigation {
	background-color: grey;
	min-height: 100%; /* min. height for modern browser */
	height: 100%; /* min. height for IE */
	overflow: auto;
}

.moreInfo {
	position: fixed;
	background-color: #f1f1f1;
	z-index: 400;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #f5f5f5;
}

.btn-blue:hover {
	background-color: #4285f4;
	color: white;
}

.container {
	padding-top: 75px;
}

.topMenu {
	background-color: white;
	color: grey;
	padding: 20px;
	padding-top: 75px;
	border-bottom: 1px solid blue;
}

.bigText {
	background-color: #363f45;
	color: white;
	padding: 20px;
}

.list-group-item {
	border-radius: 4px;
}

.media-image-container {
	height: 200px;
	overflow: hidden;
	border-radius: 6px;
	vertical-align: middle;
}

.media-image-container:hover {
	border-color: blue;
}

.media-image {
	align: middle;
}

.list-group-item:hover {
	border-color: blue;
}

@media only screen and (max-width: 1500px) {
	.container {
		width: 100%;
	}
	.singlePost {
		width: 60%;
	}
}

@media only screen and (max-width: 600px) {
	.singlePost {
		width: 100%;
	}
}



.btn-custom {
	background-color: transparent;
	font-size: 18px;
}

.navbar-fixed-top {
	/* 	opacity: 0.8; */
	/* 	border-bottom: thin solid #F2F2F2; */
	
}

.top-menu-item {
	color: #2856b6;
	padding-top: 20px;
}

.navbar {
	/* 	background-color: white; */
	box-shadow: 0 0px 1px grey;
}

.navbar-brand {
	color: #2856b6;
}

.header-ads {
	float: left;
	padding: 20.5px 15px;
	font-size: 14px;
	line-height: 23px;
	height: 67px;
}

.btn-read {
	display: inline-block;
	background: #169CEE;
	padding: 9px 18px;
	min-width: 117px;
	border-radius: 4px;
	transition: background 150ms ease-out;
	background: 0 0;
	color: #169CEE;
	min-width: 0;
	border: 1px solid #169CEE;
}

.topAd {
	text-align: center;
}


.card .card-image{
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card .card-image img{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.card .card-image:hover img{
    -webkit-transform: scale(1.2) rotate(-7deg);
    -moz-transform: scale(1.2) rotate(-7deg);
    -ms-transform: scale(1.2) rotate(-7deg);
    -o-transform: scale(1.2) rotate(-7deg);
    transform: scale(1.2) rotate(-7deg);
}

.card{
    margin-top: 10px;
    position: relative;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card .card-content {
    padding: 10px;    
}

.card .card-content .card-title, .card-reveal .card-title{
    font-size: 24px;
    font-weight: 200;    
}

.card .card-action{
    padding: 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}
.card .card-action a{
    font-size: 15px;
    color: #ffab40;
    text-transform:uppercase;
    margin-right: 20px;    
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.card .card-action a:hover{    
    color:#ffd8a6;
    text-decoration:none;
}

.card .card-reveal{    
    padding: 20px;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    /*top: 0;*/
    left:0;
    bottom:0;
    height: 100%;
    z-index: 1;
    display: none;    
}

.card .card-reveal p{
    color: rgba(0, 0, 0, 0.71);
    margin:20px ;
}

.btn-custom{
    background-color: transparent;
    font-size:18px;
}




.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    
    background-size: cover;
    height: 300px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

